@model Project.UI.Areas.Manager.Models.CreateRoleViewModel

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
   
    <div class="col-lg-6 offset-md-3">
        <form asp-action="CreateRole" method="post">
            <h4>Rol Oluşturma Formu</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-shadow btn-primary" />

            </div>
        </form>
    </div>
        

    
</div>

    
