@using Project.ENTITIES.Enums
@model List<TopTenSellingProductsDto>
@{
    ViewData["Title"] = "TopTenSellingProducts";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4">En Çok Satılan 10 Ürün ve Özellikleri</h3>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Tedarikçi</th>
            <th>Yaş Ortalaması</th>
            <th>En Fazla Satın Alan Cinsiyet</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.CompanyName</td>
            <td>@item.BirthDatesAverage</td>
            @{
                var femaleQuantity = 0;
                var maleQuantity = 0;
                var undefinedQuantity = 0;

                if (item.Genders.Contains(Gender.Female))
                {
                    femaleQuantity += 1;
                }
                else if (item.Genders.Contains(Gender.Male))
                {
                    maleQuantity += 1;
                }
                else
                {
                    undefinedQuantity += 1;
                }

                if (femaleQuantity > maleQuantity && femaleQuantity > undefinedQuantity)
                {
                    <td><i class="icon-female"></i> Kadın</td>
                }
                else if (maleQuantity > femaleQuantity && maleQuantity > undefinedQuantity)
                {
                    <td><i class="icon-male"></i> Erkek</td>
                }
                else if (undefinedQuantity > femaleQuantity && undefinedQuantity > maleQuantity)
                {
                    <td><i class="icon-bug"></i> Tanımlanmamış</td>
                }
                else if (femaleQuantity == maleQuantity)
                {
                    <td><i class="icon-female icon-male"></i> Kadın/Erkek</td>
                }
            }



        </tr>
        }
    </tbody>
</table>
