@using Project.ENTITIES.Enums
@model List<TopTenSellingProductsDto>
@{
    ViewData["Title"] = "TopTenSellingProducts";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<partial name="~/Areas/Manager/Views/Home/TopTenSellingsWithThemTheBestSellingsPartial.cshtml" />
<h3 class="mt-4">En Çok Satılan 10 Ürün ve Özellikleri</h3>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Tedarikçi İşletme</th>
            <th>Yaş Ortalaması</th>
            <th>En Fazla Satın Alan Cinsiyet</th>
            <th>Yanında En Çok Satılan Ürünler</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var year = DateTime.Now.Year - item.BirthDatesAverage;
        <tr>
            <td>@item.ProductName</td>
            <td>@item.CompanyName</td>
            <td>@year </td>
            @{
                var femaleQuantity = 0;
                var maleQuantity = 0;
                var undefinedQuantity = 0;

                if (item.Genders.Contains(Gender.Female))
                {
                    femaleQuantity += 1;
                }
                if (item.Genders.Contains(Gender.Male))
                {
                    maleQuantity += 1;
                }
                if (item.Genders.Contains(Gender.Unspecified))
                {
                    undefinedQuantity += 1;
                }

                if (femaleQuantity > maleQuantity && femaleQuantity > undefinedQuantity)
                {
                    <td><i class="icon-female"></i> Kadın</td>
                }
                else if (maleQuantity > femaleQuantity && maleQuantity > undefinedQuantity)
                {
                    <td><i class="icon-male"></i> Erkek</td>
                }
                else if (undefinedQuantity > femaleQuantity && undefinedQuantity > maleQuantity)
                {
                    <td><i class="icon-bug"></i> Tanımlanmamış</td>
                }
                else if (femaleQuantity == maleQuantity)
                {
                    <td><i class="icon-female icon-male"></i> Kadın/Erkek</td>
                }

            }
            <td>
                <button class="btn btn-info" href="#!" data-toggle="modal" data-target="#topTenSellingsWithThemTheBestSellings" asp-order-id="@item.OrderId" data-product-id="@item.ProductId" id="showTopTenSellingsWithThemTheBestSellingsModal">
                Yanında En Çok Satılan Ürünler
                </button>
            </td>
            
        </tr>
                }
    </tbody>
</table>

<script>
    $(function () {
        $(document).on('click', "#showTopTenSellingsWithThemTheBestSellingsModal", function (e) {

            var productId = $(this).attr('data-product-id');
            var orderId = $(this).attr('asp-order-id');
            console.log(productId);
            $.ajax({
                type: 'GET',
                url: '/Manager/Home/GetTopTenSellingsWithThemTheBestSellings/',
                data: { productId, orderId },
                success: function (data) {
                    $("#with-best-sellings").html(data);
                }
            });

        });
    });
</script>